$bg-color: black;
$header-color: white;
$container-color: white;
$ign-red: #C10E02;
$base-font-color: #535353;
$base-font-dark: mix(black, $base-font-color, 20%);
$base-font-light: mix(white, $base-font-color, 30%);

$font-family: Helvetica, Ariel, sans-serif;
$font-size: 14px;

$base-side-margin: 20px;
